<!DOCTYPE html>
<!-- saved from url=(0123)https://demos.creative-tim.com/paper-kit-2-pro/presentation.html?_ga=2.13242292.2065128474.1716094577-1126996048.1716094577 -->
<html lang="en" class=" cssanimations"><head><meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

<link rel="apple-touch-icon" sizes="76x76" href="https://demos.creative-tim.com/paper-kit-2-pro/assets/img//apple-icon.png">
<link rel="icon" type="image/png" href="https://demos.creative-tim.com/paper-kit-2-pro/assets/img//favicon.png">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<title>
    Paper Kit Pro by Creative Tim
  </title>
<meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0, shrink-to-fit=no" name="viewport">


<link rel="canonical" href="https://www.creative-tim.com/product/paper-kit-2-pro">

<meta name="keywords" content="bootstrap 4, bootstrap 4 uit kit, bootstrap 4 kit, paper, paper kit, creative tim, html kit, html css template, web template, bootstrap, bootstrap 4, css3 template, frontend, responsive bootstrap template, bootstrap ui kit, responsive ui kit, premium bootstrap 4 ui kit, premium template, bootstrap 4 template">
<meta name="description" content="Paper Kit 2 PRO is a premium Bootstrap 4 kit coded by Creative Tim. It is a beautiful cross-platform UI kit featuring over 1000 components, 34 sections and 11 example pages.">

<meta itemprop="name" content="Paper Kit 2 Pro by Creative Tim">
<meta itemprop="description" content="Paper Kit 2 PRO is a premium Bootstrap 4 kit coded by Creative Tim. It is a beautiful cross-platform UI kit featuring over 1000 components, 34 sections and 11 example pages.">
<meta itemprop="image" content="https://raw.githubusercontent.com/creativetimofficial/public-assets/master/paper-kit-2-pro-html/opt_pk2p_thumbnail.jpg">

<meta name="twitter:card" content="product">
<meta name="twitter:site" content="@creativetim">
<meta name="twitter:title" content="Paper Kit 2 Pro by Creative Tim">
<meta name="twitter:description" content="Paper Kit 2 PRO is a premium Bootstrap 4 kit coded by Creative Tim. It is a beautiful cross-platform UI kit featuring over 1000 components, 34 sections and 11 example pages.">
<meta name="twitter:creator" content="@creativetim">
<meta name="twitter:image" content="https://raw.githubusercontent.com/creativetimofficial/public-assets/master/paper-kit-2-pro-html/opt_pk2p_thumbnail.jpg">

<meta property="fb:app_id" content="655968634437471">
<meta property="og:title" content="Paper Kit 2 Pro by Creative Tim">
<meta property="og:type" content="article">
<meta property="og:url" content="https://demos.creative-tim.com/paper-kit-pro/index.html">
<meta property="og:image" content="https://raw.githubusercontent.com/creativetimofficial/public-assets/master/paper-kit-2-pro-html/opt_pk2p_thumbnail.jpg">
<meta property="og:description" content="Paper Kit 2 PRO is a premium Bootstrap 4 kit coded by Creative Tim. It is a beautiful cross-platform UI kit featuring over 1000 components, 34 sections and 11 example pages.">
<meta property="og:site_name" content="Creative Tim">

<link href="./Paper Kit Pro by Creative Tim_files/css" rel="stylesheet">
<link href="./Paper Kit Pro by Creative Tim_files/font-awesome.min.css" rel="stylesheet">

<link href="./Paper Kit Pro by Creative Tim_files/bootstrap.min.css" rel="stylesheet">
<link href="./Paper Kit Pro by Creative Tim_files/paper-kit.min.css" rel="stylesheet">

<link href="./Paper Kit Pro by Creative Tim_files/demo.css" rel="stylesheet">


<style>
    .async-hide {
      opacity: 0 !important
    }
  </style>

  






<script type="text/javascript">
    window.hasMobileFirstExtension = true;</script><script charset="utf-8" src="./Paper Kit Pro by Creative Tim_files/identify_93546.js.download"></script><meta http-equiv="origin-trial" content="A3dA86xx3SygInSznfsu98uiaY4VmGo/CaJTGvdsIU5xobyXgN1lb1smNdWPEoeyz54s3L60Kdxmc4VJmUrrIgoAAACVeyJvcmlnaW4iOiJodHRwczovL2N0LnBpbnRlcmVzdC5jb206NDQzIiwiZmVhdHVyZSI6IkRpc2FibGVUaGlyZFBhcnR5U3RvcmFnZVBhcnRpdGlvbmluZyIsImV4cGlyeSI6MTcyNTQwNzk5OSwiaXNTdWJkb21haW4iOnRydWUsImlzVGhpcmRQYXJ0eSI6dHJ1ZX0="><script type="text/javascript" charset="UTF-8" src="./Paper Kit Pro by Creative Tim_files/common.js.download"></script><script type="text/javascript" charset="UTF-8" src="./Paper Kit Pro by Creative Tim_files/util.js.download"></script></head>
<body class="presentation-page sidebar-collapse">


<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-NKDMSK6" height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>


<nav class="navbar navbar-expand-lg fixed-top nav-up" color-on-scroll="500">
<div class="container">
<div class="navbar-translate">
<a class="navbar-brand" href="https://demos.creative-tim.com/paper-kit-2-pro/index.html" rel="tooltip" title="Paper Kit 2 PRO" data-placement="bottom" target="_blank">
  Kabokweni Bible Baptist Church
</a>
<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navigation" aria-controls="navigation-index" aria-expanded="false" aria-label="Toggle navigation">
<span class="navbar-toggler-bar bar1"></span>
<span class="navbar-toggler-bar bar2"></span>
<span class="navbar-toggler-bar bar3"></span>
</button>
</div>
<div class="collapse navbar-collapse" data-nav-image="./assets/img/blurred-image-1.jpg" data-color="orange">
<ul class="navbar-nav ml-auto">
<li class="dropdown nav-item">
<a href="https://demos.creative-tim.com/paper-kit-2-pro/presentation.html?_ga=2.13242292.2065128474.1716094577-1126996048.1716094577#" class="dropdown-toggle nav-link" data-toggle="dropdown" aria-expanded="false">
Components </a>
<div class="dropdown-menu dropdown-menu-right dropdown-danger">
<a href="https://demos.creative-tim.com/paper-kit-2-pro/index.html" class="dropdown-item">
All Components
</a>
<a href="https://demos.creative-tim.com/paper-kit-2-pro/presentation.html" class="dropdown-item">
Presentation
</a>
<a href="https://demos.creative-tim.com/paper-kit-2-pro/docs/1.0/getting-started/introduction.html" class="dropdown-item">
Documentation
</a>
</div>
</li>
<li class="dropdown nav-item">
<a href="https://demos.creative-tim.com/paper-kit-2-pro/presentation.html?_ga=2.13242292.2065128474.1716094577-1126996048.1716094577#" class="dropdown-toggle nav-link" id="navbarDropdownMenuLink" data-toggle="dropdown">
Sections
</a>
<div class="dropdown-menu dropdown-menu-right dropdown-danger" aria-labelledby="navbarDropdownMenuLink">
<a class="dropdown-item" data-scroll="true" data-id="#headers" href="https://demos.creative-tim.com/paper-kit-2-pro/sections.html#headers">
<i class="nc-icon nc-tile-56"></i>
Headers
</a>
<a class="dropdown-item" data-scroll="true" data-id="#features" href="https://demos.creative-tim.com/paper-kit-2-pro/sections.html#features">
<i class="nc-icon nc-settings"></i>
Features
</a>
<a class="dropdown-item" data-scroll="true" data-id="#blogs" href="https://demos.creative-tim.com/paper-kit-2-pro/sections.html#blogs">
<i class="nc-icon nc-bullet-list-67"></i>
Blogs
</a>
<a class="dropdown-item" data-scroll="true" data-id="#teams" href="https://demos.creative-tim.com/paper-kit-2-pro/sections.html#teams">
<i class="nc-icon nc-single-02"></i>
Teams
</a>
<a class="dropdown-item" data-scroll="true" data-id="#projects" href="https://demos.creative-tim.com/paper-kit-2-pro/sections.html#projects">
<i class="nc-icon nc-calendar-60"></i>
Projects
</a>
<a class="dropdown-item" data-scroll="true" data-id="#pricing" href="https://demos.creative-tim.com/paper-kit-2-pro/sections.html#pricing">
<i class="nc-icon nc-money-coins"></i>
Pricing
</a>
<a class="dropdown-item" data-scroll="true" data-id="#testimonials" href="https://demos.creative-tim.com/paper-kit-2-pro/sections.html#testimonials">
<i class="nc-icon nc-badge"></i>
Testimonials
</a>
<a class="dropdown-item" data-scroll="true" data-id="#contact-us" href="https://demos.creative-tim.com/paper-kit-2-pro/sections.html#contactus">
<i class="nc-icon nc-mobile"></i>
Contact Us
</a>
</div>
</li>
<li class="dropdown nav-item">
<a href="https://demos.creative-tim.com/paper-kit-2-pro/presentation.html?_ga=2.13242292.2065128474.1716094577-1126996048.1716094577#" class="dropdown-toggle nav-link" id="navbarDropdownMenuLink1" data-toggle="dropdown">
Examples
</a>
<div class="dropdown-menu dropdown-menu-right dropdown-danger" aria-labelledby="navbarDropdownMenuLink1">
<a class="dropdown-item" href="https://demos.creative-tim.com/paper-kit-2-pro/examples/about-us.html">
<i class="nc-icon nc-bank"></i>
About-us
</a>
<a class="dropdown-item" href="https://demos.creative-tim.com/paper-kit-2-pro/examples/add-product.html">
<i class="nc-icon nc-basket"></i>
Add Product
</a>
<a class="dropdown-item" href="https://demos.creative-tim.com/paper-kit-2-pro/examples/blog-post.html">
<i class="nc-icon nc-badge"></i>
Blog Post
</a>
<a class="dropdown-item" href="https://demos.creative-tim.com/paper-kit-2-pro/examples/blog-posts.html">
<i class="nc-icon nc-bullet-list-67"></i>
Blog Posts
</a>
<a class="dropdown-item" href="https://demos.creative-tim.com/paper-kit-2-pro/examples/contact-us.html">
<i class="nc-icon nc-mobile"></i>
Contact Us
</a>
<a class="dropdown-item" href="https://demos.creative-tim.com/paper-kit-2-pro/examples/discover.html">
<i class="nc-icon nc-world-2"></i>
Discover
</a>
<a class="dropdown-item" href="https://demos.creative-tim.com/paper-kit-2-pro/examples/ecommerce.html">
<i class="nc-icon nc-send"></i>
Ecommerce
</a>
<a class="dropdown-item" href="https://demos.creative-tim.com/paper-kit-2-pro/examples/landing-page.html">
<i class="nc-icon nc-spaceship"></i>
Landing Page
</a>
<a class="dropdown-item" href="https://demos.creative-tim.com/paper-kit-2-pro/examples/login-page.html">
<i class="nc-icon nc-lock-circle-open"></i>
Login Page
</a>
<a class="dropdown-item" href="https://demos.creative-tim.com/paper-kit-2-pro/examples/product-page.html">
<i class="nc-icon nc-album-2"></i>
Product Page
</a>
<a class="dropdown-item" href="https://demos.creative-tim.com/paper-kit-2-pro/examples/profile-page.html">
<i class="nc-icon nc-single-02"></i>
Profile Page
</a>
<a class="dropdown-item" href="https://demos.creative-tim.com/paper-kit-2-pro/examples/register-page.html">
<i class="nc-icon nc-bookmark-2"></i>
Register Page
</a>
<a class="dropdown-item" href="https://demos.creative-tim.com/paper-kit-2-pro/examples/search-with-sidebar.html">
<i class="nc-icon nc-zoom-split"></i>
Search Page
</a>
<a class="dropdown-item" href="https://demos.creative-tim.com/paper-kit-2-pro/examples/settings.html">
<i class="nc-icon nc-settings-gear-65"></i>
Settings Page
</a>
<a class="dropdown-item" href="https://demos.creative-tim.com/paper-kit-2-pro/examples/twitter-redesign.html">
<i class="nc-icon nc-tie-bow"></i>
Twitter
</a>
</div>
</li>
<li class="nav-item">
<a class="btn btn-round btn-danger" href="https://www.creative-tim.com/product/paper-kit-2-pro" target="_blank">
<i class="nc-icon nc-cart-simple"></i> Buy Now
</a>
</li>

</ul>
</div>
</div>
</nav>

<div class="wrapper">
<div class="page-header section-dark" style="background-image: url('/images/pk-pro-cover.jpg')">
<div class="content-center">
<div class="container">
<div class="title-brand">
<h1 class="presentation-title" style="font-size: 80px;">Welcome </h1>
<!-- <div class="type">PRO</div> -->
<div class="fog-low">
<img src="./Paper Kit Pro by Creative Tim_files/fog-low.webp" alt="">
</div>
<div class="fog-low right">
<img src="./Paper Kit Pro by Creative Tim_files/fog-low.webp" alt="">
</div>
</div>
<h2 class="presentation-subtitle text-center">Kabokweni Bible Baptist Church</h2>
</div>
</div>
<h6 class="category category-absolute">God loves you

</h6>
</div>
</div>
<div class="section section-dark section-summary">
<div class="container">
  <div class="row">
    <div class="col-md-4">
      <div class="info">
        <div class="icon icon-danger">
          <i class="nc-icon nc-layout-11"></i>
        </div>
        <div class="description">
          <h4 class="info-title"> Welcoming Community </h4>
          <p>Join a community that welcomes everyone with open hearts. Our church is a place where you can grow in faith and find support.</p>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="info">
        <div class="icon icon-danger">
          <i class="nc-icon nc-tile-56"></i>
        </div>
        <div class="description">
          <h4 class="info-title"> Diverse Ministries </h4>
          <p>Our church offers a variety of ministries for all ages and interests. From youth groups to outreach programs, there's a place for everyone to get involved.</p>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="info">
        <div class="icon icon-danger">
          <i class="nc-icon nc-paper"></i>
        </div>
        <div class="description">
          <h4 class="info-title"> Inspiring Worship </h4>
          <p>Experience uplifting worship services that inspire and encourage. Our services are designed to deepen your faith and foster a sense of community.</p>
        </div>
      </div>
    </div>
  </div>

</div>
</div>
<div class="section section-components section-dark">
<div class="row">
<div class="col-md-12 col-lg-6">
<div class="image-container">
<img class="components-macbook" src="/images/pic2.jpg" alt="">
<!-- <img class="table-img" src="./Paper Kit Pro by Creative Tim_files/table.jpg" alt=""> -->
<img class="share-btn-img" src="./Paper Kit Pro by Creative Tim_files/share-btn.webp" alt="">
<!-- <img class="coloured-card-btn-img" src="./Paper Kit Pro by Creative Tim_files/coloured-card-with-btn.webp" alt=""> -->
<img class="coloured-card-img" src="./Paper Kit Pro by Creative Tim_files/coloured-card.webp" alt="">
<!-- <img class="social-img" src="./Paper Kit Pro by Creative Tim_files/social-row.webp" alt=""> -->
<img class="pin-btn-img" src="./Paper Kit Pro by Creative Tim_files/pin-btn.webp" alt="">
</div>
</div>
<div class="col-md-10 col-lg-4 ml-auto mr-auto">
  <div class="container basic-container">
    <h3 class="title">About Our Church</h3>
    <h6 class="category">Discover Who We Are</h6>
    <h5 class="description">Our church is a vibrant and welcoming community dedicated to spreading love, faith, and hope. We offer a variety of services and programs designed to meet the spiritual and practical needs of our congregation. Whether you are new to the faith or have been a lifelong believer, we invite you to join us on this journey of growth and fellowship.</h5>
  </div>
  
</div>
</div>
</div>

<!-- <div class="section section-cards section-gold">
<div class="codrops-header">
<div class="row">
<div class="col-md-6 col-lg-4">
<div class="section-description">
<h3 class="title">Beautiful Cards</h3>
<h6 class="category">One Card for Every Problem</h6>
<h5 class="description">We have gone above and beyond with options for you to organise your information. From cards designed for blog posts, to product cards or user profiles, you will have many options to choose from. All the cards follow
the Paper Kit style principles and have a design that stands out. </h5>
</div>
</div>
</div>
</div>
<section class="section-intro ">
<div class="isolayer isolayer--deco1 isolayer--shadow js" style="transform-style: preserve-3d; transform: translateX(33vw) translateY(-340px) rotateX(45deg) rotateZ(45deg);">
<ul class="grid grid--loaded" style="position: relative; width: 1200px; height: 1110px;">
<li class="grid__item first-card" style="position: absolute; left: 0px; top: 0px; z-index: 1;">
<a class="grid__link" href="https://demos.creative-tim.com/paper-kit-2-pro/index.html#cards" style="z-index: 1;">
<img class="grid__img layer" src="./Paper Kit Pro by Creative Tim_files/purple-card.webp" alt="01" style="transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);">
</a>
</li>
<li class="grid__item second-card" style="position: absolute; left: 400px; top: 0px; z-index: 1;">
<a class="grid__link" href="https://demos.creative-tim.com/paper-kit-2-pro/index.html#cards" style="z-index: 1;">
<img class="grid__img layer" src="./Paper Kit Pro by Creative Tim_files/twitter-card.jpg" alt="02" style="transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);">
</a>
</li>
<li class="grid__item third-card" style="position: absolute; left: 800px; top: 0px; z-index: 1;">
<a class="grid__link" href="https://demos.creative-tim.com/paper-kit-2-pro/index.html#cards" style="z-index: 1;">
<img class="grid__img layer" src="./Paper Kit Pro by Creative Tim_files/facebook-card.jpg" alt="03" style="transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);">
</a>
</li>
<li class="grid__item fourth-card" style="position: absolute; left: 0px; top: 300px; z-index: 1;">
<a class="grid__link" href="https://demos.creative-tim.com/paper-kit-2-pro/index.html#cards" style="z-index: 1;">
<img class="grid__img layer" src="./Paper Kit Pro by Creative Tim_files/pricing-card.jpg" alt="04" style="transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);">
</a>
</li>
<li class="grid__item fifth-card" style="position: absolute; left: 800px; top: 300px; z-index: 1;">
<a class="grid__link" href="https://demos.creative-tim.com/paper-kit-2-pro/index.html#cards" style="z-index: 1;">
<img class="grid__img layer" src="./Paper Kit Pro by Creative Tim_files/blog-card.jpg" alt="05" style="transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);">
</a>
</li>
<li class="grid__item sixth-card" style="position: absolute; left: 400px; top: 510px;">
<a class="grid__link" href="https://demos.creative-tim.com/paper-kit-2-pro/index.html#cards">
<img class="grid__img layer" src="./Paper Kit Pro by Creative Tim_files/capture.jpg" alt="06">
</a>
</li>
<li class="grid__item seventh-card" style="position: absolute; left: 0px; top: 600px; z-index: 1;">
<a class="grid__link" href="https://demos.creative-tim.com/paper-kit-2-pro/index.html#cards" style="z-index: 1;">
<img class="grid__img layer" src="./Paper Kit Pro by Creative Tim_files/team-card.jpg" alt="07" style="transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);">
</a>
</li>
<li class="grid__item eight-card" style="position: absolute; left: 800px; top: 600px; z-index: 1;">
<a class="grid__link" href="https://demos.creative-tim.com/paper-kit-2-pro/index.html#cards" style="z-index: 1;">
<img class="grid__img layer" src="./Paper Kit Pro by Creative Tim_files/testimonal-card.jpg" alt="07" style="transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);">
</a>
</li>
<li class="grid__item ninth-card" style="position: absolute; left: 400px; top: 810px;">
<a class="grid__link" href="https://demos.creative-tim.com/paper-kit-2-pro/index.html#cards">
<img class="grid__img layer" src="./Paper Kit Pro by Creative Tim_files/pricing-card-icon.jpg" alt="07">
</a>
</li>
</ul>
</div>
</section>

</div> -->
  <!-- <div id="fadeInAnim">
  <div class="section section-content section-gray">
  <div class="container">
  <div class="row">
  <div class="col-md-7">
  <div class="image-container">
  <img class="img" src="./Paper Kit Pro by Creative Tim_files/ipad-content-2.webp">
  <img class="area-img add-animation" src="./Paper Kit Pro by Creative Tim_files/ipad-left-img.jpg">
  <img class="info-img add-animation" src="./Paper Kit Pro by Creative Tim_files/ipad-right-img.jpg">
  </div>
  </div>
  <div class="col-md-4 ">
  <div class="section-description">
  <h3 class="title">Content Areas</h3>
  <h6 class="category">For Areas that Need More Space</h6>
  <h5 class="description">We took into consideration multiple use cases and came up with some specific elements for you. If you need elements such as tables, comments, description areas, tabs and many others, we've got you covered. They're
  beautiful and easy to use for the end user navigating your website. </h5>
  </div>
  </div>
  </div>
  </div>
  </div>
  </div> -->
<!--   
<div class="section section-sections section-gray">
<div class="container">
<div class="col-md-8 ml-auto mr-auto">
<div class="section-description text-center">
<h2 class="title">Sections you will love</h2>
<h5 class="description"> Build pages in no time using pre-made sections! We have created multiple sections for you to put together and customise into pixel perfect example pages. From headers to footers, you will be able to choose the best
combination for your project.</h5>
<br>
<a href="https://demos.creative-tim.com/paper-kit-2-pro/sections.html" target="_blank" class="btn btn-rose btn-round">View All Sections</a>
</div>
</div>
</div>
<div class="container-fluid">
<div class="section-cols">
<div class="container-fluid">
<div class="row">
<div class="col-md-3">
<img src="./Paper Kit Pro by Creative Tim_files/header-1.jpg" alt="">
</div>
<div class="col-md-3">
<img src="./Paper Kit Pro by Creative Tim_files/header-2.jpg" alt="">
</div>
<div class="col-md-3">
<img src="./Paper Kit Pro by Creative Tim_files/header-3.jpg" alt="">
</div>
<div class="col-md-3">
<img src="./Paper Kit Pro by Creative Tim_files/header-4.jpg" alt="">
</div>
</div>
<div class="row">
<div class="col-md-3">
<img src="./Paper Kit Pro by Creative Tim_files/team-cards-social.jpg" alt="">
</div>
<div class="col-md-3">
<img src="./Paper Kit Pro by Creative Tim_files/bg-pricing-card.jpg" alt="">
</div>
<div class="col-md-3">
<img src="./Paper Kit Pro by Creative Tim_files/white-pricing-card.jpg" alt="">
</div>
<div class="col-md-3">
<img src="./Paper Kit Pro by Creative Tim_files/team-member-card.jpg" alt="">
</div>
</div>
<div class="row">
<div class="col-md-3">
<img src="./Paper Kit Pro by Creative Tim_files/testimonials-1.jpg" alt="">
</div>
<div class="col-md-3">
<img src="./Paper Kit Pro by Creative Tim_files/blog-bg-cards.jpg" alt="">
</div>
<div class="col-md-3">
<img src="./Paper Kit Pro by Creative Tim_files/our-products.jpg" alt="">
</div>
<div class="col-md-3">
<img src="./Paper Kit Pro by Creative Tim_files/projects-cards.jpg" alt="">
</div>
</div>
<div class="row">
<div class="col-md-3">
<img src="./Paper Kit Pro by Creative Tim_files/blogpost-cards.jpg" alt="">
</div>
<div class="col-md-3">
<img src="./Paper Kit Pro by Creative Tim_files/blogpost-2-cards.jpg" alt="">
</div>
<div class="col-md-3">
<img src="./Paper Kit Pro by Creative Tim_files/coloured-picind-card.jpg" alt="">
</div>
<div class="col-md-3">
<img src="./Paper Kit Pro by Creative Tim_files/team-3.jpg" alt="">
</div>
</div>
</div>
</div>
</div>
</div>
<div class="section section-examples section-dark" id="examples">
<div class="container">
<div class="row">
<div class="title text-center">
<h2 class="title">Ready to use Page Examples</h2>
<h5 class="description">Paper Kit 2 Pro comes with a large number of example pages, that give you the option to quickly setup the basic flows for your website. From registering to building your profile or setting a blog, we've got you
covered.</h5>
</div>
</div>
<div class="row">
<div class="col-md-4">
<div class="details-text">
Twitter Redesign
</div>
<div class="card card-image card-hover-effect">
<a target="_blank" href="https://demos.creative-tim.com/paper-kit-2-pro/examples/twitter-redesign.html">
<img src="./Paper Kit Pro by Creative Tim_files/twitter.webp">
</a>
</div>
<div class="details-text">
Error Page (422)
</div>
<div class="card card-image">
<a target="_blank" href="https://demos.creative-tim.com/paper-kit-2-pro/examples/422.html">
<img src="./Paper Kit Pro by Creative Tim_files/422.webp">
</a>
</div>
<div class="details-text">
Discover Page
</div>
<div class="card card-image">
<a target="_blank" href="https://demos.creative-tim.com/paper-kit-2-pro/examples/discover.html">
<img src="./Paper Kit Pro by Creative Tim_files/discover.webp">
</a>
</div>
<div class="details-text">
Login Page
</div>
<div class="card card-image">
<a target="_blank" href="https://demos.creative-tim.com/paper-kit-2-pro/examples/login.html">
<img src="./Paper Kit Pro by Creative Tim_files/login-page.webp">
</a>
</div>
<div class="details-text">
Blog Post
</div>
<div class="card card-image">
<a target="_blank" href="https://demos.creative-tim.com/paper-kit-2-pro/examples/blog-post.html">
<img src="./Paper Kit Pro by Creative Tim_files/blog-post.webp">
</a>
</div>
<div class="details-text">
User Settings
</div>
<div class="card card-image">
<a target="_blank" href="https://demos.creative-tim.com/paper-kit-2-pro/examples/settings.html">
<img src="./Paper Kit Pro by Creative Tim_files/settings.webp">
</a>
</div>
</div>
<div class="col-md-4">
<div class="details-text">
Register Page
</div>
<div class="card card-image">
<a target="_blank" href="https://demos.creative-tim.com/paper-kit-2-pro/examples/register-page.html">
<img src="./Paper Kit Pro by Creative Tim_files/register.webp">
</a>
</div>
<div class="details-text">
Public Profile
</div>
<div class="card card-image">
<a target="_blank" href="https://demos.creative-tim.com/paper-kit-2-pro/examples/profile-page.html">
<img src="./Paper Kit Pro by Creative Tim_files/profile.webp">
</a>
</div>
<div class="details-text">
Product Page
</div>
<div class="card card-image">
<a target="_blank" href="https://demos.creative-tim.com/paper-kit-2-pro/examples/product-page.html">
<img src="./Paper Kit Pro by Creative Tim_files/product.webp">
</a>
</div>
<div class="details-text">
Contact Us
</div>
<div class="card card-image">
<a target="_blank" href="https://demos.creative-tim.com/paper-kit-2-pro/examples/contact-us.html">
<img src="./Paper Kit Pro by Creative Tim_files/contact-us.webp">
</a>
</div>
<div class="details-text">
Search Page
</div>
<div class="card card-image">
<a target="_blank" href="https://demos.creative-tim.com/paper-kit-2-pro/examples/search-with-sidebar.html">
<img src="./Paper Kit Pro by Creative Tim_files/search.webp">
</a>
</div>
<div class="details-text">
Error Page (400)
</div>
<div class="card card-image">
<a target="_blank" href="https://demos.creative-tim.com/paper-kit-2-pro/examples/404.html">
<img src="./Paper Kit Pro by Creative Tim_files/404.webp">
</a>
</div>
<div class="details-text">
Add Product Page
</div>
<div class="card card-image">
<a target="_blank" href="https://demos.creative-tim.com/paper-kit-2-pro/examples/add-product.html">
<img src="./Paper Kit Pro by Creative Tim_files/add-product.webp">
</a>
</div>
<div class="details-text">
About Us
</div>
<div class="card card-image card-hover-effect">
<a target="_blank" href="https://demos.creative-tim.com/paper-kit-2-pro/examples/about-us.html">
<img src="./Paper Kit Pro by Creative Tim_files/about-us.webp">
</a>
</div>
</div>
<div class="col-md-4">
<div class="details-text">
Blog Posts
</div>
<div class="card card-image">
<a target="_blank" href="https://demos.creative-tim.com/paper-kit-2-pro/examples/blog-posts.html">
<img src="./Paper Kit Pro by Creative Tim_files/blog-posts.webp">
</a>
</div>
<div class="details-text">
Error Page (500)
</div>
<div class="card card-image">
<a target="_blank" href="https://demos.creative-tim.com/paper-kit-2-pro/examples/500.html">
<img src="./Paper Kit Pro by Creative Tim_files/500.webp">
</a>
</div>
<div class="details-text">
Landing Page
</div>
<div class="card card-image">
<a target="_blank" href="https://demos.creative-tim.com/paper-kit-2-pro/examples/landing-page.html">
<img src="./Paper Kit Pro by Creative Tim_files/landing.webp">
</a>
</div>
<div class="details-text">
Ecommerce Page
</div>
<div class="card card-image">
<a target="_blank" href="https://demos.creative-tim.com/paper-kit-2-pro/examples/ecommerce.html">
<img src="./Paper Kit Pro by Creative Tim_files/ecommerce.webp">
</a>
</div>
<div class="card card-image">
<img src="./Paper Kit Pro by Creative Tim_files/more-brown.webp">
</div>
</div>
</div>
</div>
</div>
<div class="section section-icons">
<div class="container-fluid">
<div class="row">
<div class="col-md-3">
<div class="icons-nucleo">
<i class="first-left-icon nc-icon nc-planet add-animation"></i>
<i class="second-left-icon nc-icon nc-touch-id add-animation"></i>
<i class="third-left-icon nc-icon nc-lock-circle-open add-animation"></i>
<i class="fourth-left-icon nc-icon nc-tap-01 add-animation"></i>
<i class="fifth-left-icon nc-icon nc-zoom-split add-animation"></i>
<i class="sixth-left-icon nc-icon nc-atom add-animation"></i>
<i class="seventh-left-icon nc-icon nc-favourite-28 add-animation"></i>
<i class="eighth-left-icon nc-icon nc-settings add-animation"></i>
<i class="ninth-left-icon nc-icon nc-bulb-63 add-animation"></i>
<i class="tenth-left-icon nc-icon nc-circle-10 add-animation"></i>
</div>
</div>
<div class="col-md-6 text-center">
<h2 class="title revealOnScroll">Custom Icons</h2>
<h5 class="description">
Paper Kit 2 PRO comes with 100 custom demo icons made by our friends from <a href="https://nucleoapp.com/?ref=1712" target="_blank">NucleoApp</a>. The official package contains over 20.729 icons which are looking great in combination with
Paper Kit 2 PRO. Make sure you check all of them and use those that you like the most.
</h5>
<br>
<a href="https://demos.creative-tim.com/paper-kit-2-pro/nucleo-icons.html" class="btn btn-primary btn-round btn-lg " target="_blank">View Demo Icons</a>
<a href="https://nucleoapp.com/?ref=1712" class="btn btn-outline-primary btn-round btn-lg " target="_blank">View All Icons</a>
</div>
<div class="col-md-3">
<div class="icons-nucleo">
<i class="first-right-icon nc-icon nc-bank add-animation"></i>
<i class="second-right-icon nc-icon nc-tag-content add-animation"></i>
<i class="third-right-icon nc-icon nc-bell-55 add-animation"></i>
<i class="fourth-right-icon nc-icon nc-tv-2 add-animation"></i>
<i class="fifth-right-icon nc-icon nc-map-big add-animation"></i>
<i class="sixth-right-icon nc-icon nc-badge add-animation"></i>
<i class="seventh-right-icon nc-icon nc-simple-add add-animation"></i>
<i class="eighth-right-icon nc-icon nc-trophy add-animation"></i>
<i class="ninth-right-icon nc-icon nc-hat-3 add-animation"></i>
<i class="tenth-right-icon nc-icon nc-key-25 add-animation"></i>
</div>
</div>
</div>
</div>
</div>
<div class="section section-free-demo section-dark" style="display: none">
<div class="container">
<div class="row">
<div class="col-md-5">
<div class="icon-github">
<i class="fa fa-github"></i>
</div>
<div class="section-description">
<h3 class="title">Free Demo</h3>
<h5 class="description">Do you want to test and see the benefits of this kit before purchasing it? You can give the demo version a try. It features enough basic components for you to get a feel of the design and also test the quality of the
code. Get it free on GitHub!</h5>
<div class="row space-top">
<div class="col-md-6">
<a href="https://github.com/creativetimofficial/paper-kit/tree/bootstrap4-development" target="_blank" class="btn btn-round btn-neutral">View Demo on Github</a>
</div>
<div class="col-md-6">
<a class="github-button" href="https://github.com/creativetimofficial/paper-kit" data-show-count="true" data-size="large" aria-label="Star ntkme/github-buttons on GitHub">Star</a>
<a class="github-button" href="https://github.com/creativetimofficial/paper-kit" data-icon="octicon-repo-forked" data-size="large" aria-label="Fork ntkme/github-buttons on GitHub">Fork</a>
</div>
</div>
</div>
</div>
<div class="col-md-6 offset-md-1">
<div class="row">
<div class="col-md-6">
<div class="card card-pricing">
<div class="card-body">
<h3 class="card-title">Free Demo</h3>
<ul>
<li><b>60</b> Components*</li>
<li><b>3</b> Example Pages</li>
<li><b>0</b> Customised Plugins</li>
<li><i class="fa fa-times text-danger"></i> Customised Icons </li>
<li><i class="fa fa-times text-danger"></i> Beautiful Cards</li>
<li><i class="fa fa-times text-danger"></i> Sections</li>
<li><i class="fa fa-times text-danger"></i> Premium Support</li>
</ul>
</div>
</div>
</div>
<div class="col-md-6">
<div class="card card-pricing">
<div class="card-body">
<h3 class="card-title">PRO Version</h3>
<ul>
<li> <b>1000+</b> Components*</li>
<li> <b>15</b> Example Pages</li>
<li> <b>8</b> Customised Plugins</li>
<li><i class="fa fa-check text-success"></i> Customised Icons </li>
<li><i class="fa fa-check text-success"></i> Beautiful Cards</li>
<li><i class="fa fa-check text-success"></i> Sections</li>
<li><i class="fa fa-check text-success"></i> Premium Support</li>
</ul>
</div>
</div>
</div>
<div class="col-md-12">
<br>
<p class="description">*Components: buttons, social buttons, navbars, dropdowns, tabs, tables, cards, select, tags, sliders etc. and their customisation by classes.</p>
</div>
</div>
</div>
</div>
</div>
</div>
<div class="section section-responsive section-gold">
<div class="container-fluid">
<div class="row">
<div class="col-md-6">
<div class="phone-container">
<img src="./Paper Kit Pro by Creative Tim_files/responsive.webp">
</div>
</div>
<div class="col-lg-4">
<div class="info info-horizontal">
<div class="icon icon-danger">
<i class="nc-icon nc-tablet-2"></i>
</div>
<div class="description">
<h4 class="info-title"> Fully Responsive Layout </h4>
<p> The kit is designed to be mobile first. Every components looks great on any screen size.</p>
</div>
</div>
<div class="info info-horizontal">
<div class="icon icon-danger">
<i class="nc-icon nc-html5"></i>
</div>
<div class="description">
<h4 class="info-title"> HTML5 Powered by Bootstrap 4 </h4>
<p>Paper Kit 2 Pro is built on top of Bootstrap 4. Get the benefits of the most powerful framework and the perks of amazing design.</p>
</div>
</div>
</div>
</div>
</div>
</div>

<div class="section section-testimonials">
<div class="container-fluid">
<div class="row">
<div class="col-md-8 ml-auto mr-auto text-center">
<h2 class="title">Trusted by 232,000+ People</h2>
<h5 class="description">The UI Kits, Templates and Dashboards that we've created are used by <b>232,000+ web developers</b> in over <b>400,000 Web Projects</b>. This is what some of them think:</h5>
</div>
</div>
<div class="row">
<div class="col-md-2 ml-auto">
<div class="testimonials-people">
<img class="left-first-person add-animation" src="./Paper Kit Pro by Creative Tim_files/thumb_" alt="">
<img class="left-second-person add-animation" src="./Paper Kit Pro by Creative Tim_files/thumb.jpg" alt="">
<img class="left-third-person add-animation" src="./Paper Kit Pro by Creative Tim_files/thumb(1).jpg" alt="">
<img class="left-fourth-person add-animation" src="./Paper Kit Pro by Creative Tim_files/thumb_(1)" alt="">
<img class="left-fifth-person add-animation" src="./Paper Kit Pro by Creative Tim_files/thumb_(2)" alt="">
<img class="left-sixth-person add-animation" src="./Paper Kit Pro by Creative Tim_files/thumb(2).jpg" alt="">
</div>
</div>
<div class="col-md-6">
<div class="page-carousel">
<div id="carouselExampleIndicators2" class="carousel slide" data-ride="carousel">
<ol class="carousel-indicators">
<li data-target="#carouselExampleIndicators2" data-slide-to="0" class="active"></li>
<li data-target="#carouselExampleIndicators2" data-slide-to="1"></li>
<li data-target="#carouselExampleIndicators2" data-slide-to="2"></li>
</ol>
<div class="carousel-inner" role="listbox">
<div class="carousel-item active">
<div class="card card-testimonial card-plain">
<div class="card-avatar">
<img class="img" src="./Paper Kit Pro by Creative Tim_files/128.jpg">
</div>
<div class="card-body">
<h5 class="card-description">
"I'm newer to the front-end... With my creative side lacking in experience this really put me in the right spot to speed through the fast lane. I love this Design kit so much!"
</h5>
<div class="card-footer">
<h4 class="card-title">Chase Jackson</h4>
<h6 class="card-category">Web Developer</h6>
<div class="card-stars">
<i class="fa fa-star" aria-hidden="true"></i>
<i class="fa fa-star" aria-hidden="true"></i>
<i class="fa fa-star" aria-hidden="true"></i>
<i class="fa fa-star" aria-hidden="true"></i>
<i class="fa fa-star" aria-hidden="true"></i>
</div>
</div>
</div>
</div>
</div>
<div class="carousel-item">
<div class="card card-testimonial card-plain">
<div class="card-avatar">
<img class="img" src="./Paper Kit Pro by Creative Tim_files/thumb_(1)">
</div>
<div class="card-body">
<h5 class="card-description">
"Love the shapes and color palette on this one! Perfect for one of my pet projects!"
</h5>
<div class="card-footer">
<h4 class="card-title">Robin Leysen</h4>
<h6 class="card-category">Web Developer</h6>
<div class="card-stars">
<i class="fa fa-star" aria-hidden="true"></i>
<i class="fa fa-star" aria-hidden="true"></i>
<i class="fa fa-star" aria-hidden="true"></i>
<i class="fa fa-star" aria-hidden="true"></i>
<i class="fa fa-star" aria-hidden="true"></i>
</div>
</div>
</div>
</div>
</div>
<div class="carousel-item">
<div class="card card-testimonial card-plain">
<div class="card-avatar">
<img class="img" src="./Paper Kit Pro by Creative Tim_files/thumb.jpeg">
</div>
<div class="card-body">
<h5 class="card-description">
"Love it. Use it for prototypes and along with Paper Dashboard."
</h5>
<div class="card-footer">
<h4 class="card-title">Cristi Jora</h4>
<h6 class="card-category">Web Developer</h6>
<div class="card-stars">
<i class="fa fa-star" aria-hidden="true"></i>
<i class="fa fa-star" aria-hidden="true"></i>
<i class="fa fa-star" aria-hidden="true"></i>
<i class="fa fa-star" aria-hidden="true"></i>
<i class="fa fa-star" aria-hidden="true"></i>
</div>
</div>
</div>
</div>
</div>
</div>
<a class="left carousel-control carousel-control-prev" href="https://demos.creative-tim.com/paper-kit-2-pro/presentation.html?_ga=2.13242292.2065128474.1716094577-1126996048.1716094577#carouselExampleIndicators2" role="button" data-slide="prev">
<span class="fa fa-angle-left"></span>
<span class="sr-only">Previous</span>
</a>
<a class="right carousel-control carousel-control-next" href="https://demos.creative-tim.com/paper-kit-2-pro/presentation.html?_ga=2.13242292.2065128474.1716094577-1126996048.1716094577#carouselExampleIndicators2" role="button" data-slide="next">
<span class="fa fa-angle-right"></span>
<span class="sr-only">Next</span>
</a>
</div>
</div>
</div>
<div class="col-md-2 mr-auto">
<div class="testimonials-people">
<img class="right-first-person add-animation" src="./Paper Kit Pro by Creative Tim_files/128.jpg" alt="">
<img class="right-second-person add-animation" src="./Paper Kit Pro by Creative Tim_files/thumb.jpeg" alt="">
<img class="right-third-person add-animation" src="./Paper Kit Pro by Creative Tim_files/thumb(3).JPG" alt="">
<img class="right-fourth-person add-animation" src="./Paper Kit Pro by Creative Tim_files/thumb_(3)" alt="">
<img class="right-fifth-person add-animation" src="./Paper Kit Pro by Creative Tim_files/thumb.png" alt="">
<img class="right-sixth-person add-animation" src="./Paper Kit Pro by Creative Tim_files/thumb_(4)" alt="">
</div>
</div>
</div>
</div> -->
<div class="our-clients">
<div class="container">
<div class="row justify-content-center">
<div class="col-md-2 col-5">
<!-- <img src="./Paper Kit Pro by Creative Tim_files/vodafone.jpg" alt=""> -->
</div>
<div class="col-md-2 col-5">
<!-- <img src="./Paper Kit Pro by Creative Tim_files/microsoft.jpg" alt=""> -->
</div>
<div class="col-md-2 col-5">
<!-- <img src="./Paper Kit Pro by Creative Tim_files/harvard.jpg" alt=""> -->
</div>
<div class="col-md-2 col-5">
<!-- <img src="./Paper Kit Pro by Creative Tim_files/stanford.jpg" alt=""> -->
</div>
</div>
</div>
</div>
</div>
<!-- <div class="section section-sharing section-dark" id="demoPay">
<div class="container">
<div class="row">
<div class="title text-center">
<h3 class="title">Ready to grab this Powerful UI Kit?</h3>
<p class="description">You have <b>Free Unlimited Updates</b> and <b>Premium Support</b> on each package. You also have <b>30 days</b> to request a refund if you're not happy with your purchase.</p>
<br>
</div>
<div class="col-md-8 ml-auto mr-auto">
<div class="space-top"></div>
<div class="row">
<div class="col-md-6">
<div class="card card-pricing">
<div class="card-body">
<div class="card-icon">
<span class="icon-simple">
<i class="nc-icon nc-single-02"></i>
</span>
</div>
<h3 class="card-title">$69</h3>
<p class="card-description">
For personal websites, school projects, startups or any other project where your users will not be charged for using it. Create one single website/app for one client.
</p>
<div class="card-footer">
<a href="https://www.creative-tim.com/product/paper-kit-2-pro" class="btn btn-danger btn-round">Buy Now</a>
</div>
</div>
</div>
</div>
<div class="col-md-6">
<div class="card card-pricing">
<div class="card-body">
<div class="card-icon">
<span class="icon-simple">
<i class="nc-icon nc-bank"></i>
</span>
</div>
<h3 class="card-title">$279</h3>
<p class="card-description">
For business projects, multiple websites for clients or for creating themes where your users will be charged for using it. Create multiple websites/apps for multiple clients.
</p>
<div class="card-footer">
<a href="https://www.creative-tim.com/product/paper-kit-2-pro" class="btn btn-danger btn-round">Buy Now</a>
</div>
</div>
</div>
</div>
</div>
</div>
<div class="col-md-8 offset-md-2 text-center">
</div>
</div>
<div class="text-center">
<span>Pay one time with:</span>
<i class="fa fa-cc-paypal fa-pay"></i>
<i class="fa fa-cc-visa fa-pay"></i>
<i class="fa fa-cc-mastercard fa-pay"></i>
<i class="fa fa-cc-amex fa-pay"></i>
<br><br>
</div>
<div class="title text-center">
<h3>Thank you for sharing!</h3>
<br>
<button id="twitter" class="btn btn-round btn-twitter"><i class="fa fa-twitter"></i> Twitter </button>
<button id="facebook" class="btn btn-round btn-facebook"><i class="fa fa-facebook-square"></i> Facebook</button>
<button id="google" class="btn btn-round btn-google"><i class="fa fa-google-plus"></i> Google</button>
</div>
</div>
</div> -->
<footer class="footer footer-black  footer-white ">
<div class="container">
<div class="row">
<nav class="footer-nav">
<ul>
<li><a href="https://www.creative-tim.com/" target="_blank">Creative Tim</a></li>
<li><a href="http://blog.creative-tim.com/" target="_blank">Blog</a></li>
<li><a href="https://www.creative-tim.com/license" target="_blank">Licenses</a></li>
</ul>
</nav>
<div class="credits ml-auto">
<span class="copyright">
© <script>
              document.write(new Date().getFullYear())
            </script> made with <i class="fa fa-heart heart"></i> Daniel Slinda
</span>
</div>
</div>
</div>
</footer>

<script src="./Paper Kit Pro by Creative Tim_files/jquery.min.js.download" type="text/javascript"></script>
<script src="./Paper Kit Pro by Creative Tim_files/popper.min.js.download" type="text/javascript"></script>
<script src="./Paper Kit Pro by Creative Tim_files/bootstrap.min.js.download" type="text/javascript"></script>

<script src="./Paper Kit Pro by Creative Tim_files/bootstrap-switch.js.download"></script>

<script src="./Paper Kit Pro by Creative Tim_files/nouislider.min.js.download" type="text/javascript"></script>

<script src="./Paper Kit Pro by Creative Tim_files/moment.min.js.download"></script>
<script src="./Paper Kit Pro by Creative Tim_files/bootstrap-tagsinput.js.download"></script>

<script src="./Paper Kit Pro by Creative Tim_files/bootstrap-selectpicker.js.download" type="text/javascript"></script>

<script src="./Paper Kit Pro by Creative Tim_files/bootstrap-datetimepicker.js.download" type="text/javascript"></script>

<script src="./Paper Kit Pro by Creative Tim_files/main.js.download"></script>


<script src="./Paper Kit Pro by Creative Tim_files/photoswipe.min.js.download"></script>
<script src="./Paper Kit Pro by Creative Tim_files/photoswipe-ui-default.min.js.download"></script>
<script src="./Paper Kit Pro by Creative Tim_files/init-gallery.js.download"></script>

<script src="./Paper Kit Pro by Creative Tim_files/jasny-bootstrap.min.js.download"></script>

<script src="./Paper Kit Pro by Creative Tim_files/paper-kit.min.js.download" type="text/javascript"></script>

<script type="text/javascript" src="./Paper Kit Pro by Creative Tim_files/js(3)"></script>

<script src="./Paper Kit Pro by Creative Tim_files/jquery.sharrre.js.download"></script>
<script>
    $(document).ready(function() {



      // Facebook Pixel Code Don't Delete
      ! function(f, b, e, v, n, t, s) {
        if (f.fbq) return;
        n = f.fbq = function() {
          n.callMethod ?
            n.callMethod.apply(n, arguments) : n.queue.push(arguments)
        };
        if (!f._fbq) f._fbq = n;
        n.push = n;
        n.loaded = !0;
        n.version = '2.0';
        n.queue = [];
        t = b.createElement(e);
        t.async = !0;
        t.src = v;
        s = b.getElementsByTagName(e)[0];
        s.parentNode.insertBefore(t, s)
      }(window,
        document, 'script', '//connect.facebook.net/en_US/fbevents.js');

      try {
        fbq('init', '111649226022273');
        fbq('track', "PageView");

      } catch (err) {
        console.log('Facebook Track Error:', err);
      }

    });
  </script>
<noscript>
    <img height="1" width="1" style="display:none" src="https://www.facebook.com/tr?id=111649226022273&ev=PageView&noscript=1" />
  </noscript>
<script>
    $(document).ready(function() {

      $sidebar = $('.sidebar');
      $sidebar_img_container = $sidebar.find('.sidebar-background');

      $full_page = $('.full-page');

      $sidebar_responsive = $('body > .navbar-collapse');
      sidebar_mini_active = false;

      window_width = $(window).width();

      fixed_plugin_open = $('.sidebar .sidebar-wrapper .nav li.active a p').html();

      // if( window_width > 767 && fixed_plugin_open == 'Dashboard' ){
      //     if($('.fixed-plugin .dropdown').hasClass('show-dropdown')){
      //         $('.fixed-plugin .dropdown').addClass('show');
      //     }
      //
      // }

      $('.fixed-plugin a').click(function(event) {
        // Alex if we click on switch, stop propagation of the event, so the dropdown will not be hide, otherwise we set the  section active
        if ($(this).hasClass('switch-trigger')) {
          if (event.stopPropagation) {
            event.stopPropagation();
          } else if (window.event) {
            window.event.cancelBubble = true;
          }
        }
      });

      $('.fixed-plugin .active-color span').click(function() {
        $full_page_background = $('.full-page-background');

        $(this).siblings().removeClass('active');
        $(this).addClass('active');

        var new_color = $(this).data('color');

        if ($sidebar.length != 0) {
          $sidebar.attr('data-active-color', new_color);
        }

        if ($full_page.length != 0) {
          $full_page.attr('data-active-color', new_color);
        }

        if ($sidebar_responsive.length != 0) {
          $sidebar_responsive.attr('data-active-color', new_color);
        }
      });

      $('.fixed-plugin .background-color span').click(function() {
        $(this).siblings().removeClass('active');
        $(this).addClass('active');

        var new_color = $(this).data('color');

        if ($sidebar.length != 0) {
          $sidebar.attr('data-color', new_color);
        }

        if ($full_page.length != 0) {
          $full_page.attr('filter-color', new_color);
        }

        if ($sidebar_responsive.length != 0) {
          $sidebar_responsive.attr('data-color', new_color);
        }
      });

      $('.fixed-plugin .img-holder').click(function() {
        $full_page_background = $('.full-page-background');

        $(this).parent('li').siblings().removeClass('active');
        $(this).parent('li').addClass('active');


        var new_image = $(this).find("img").attr('src');

        if ($sidebar_img_container.length != 0 && $('.switch-sidebar-image input:checked').length != 0) {
          $sidebar_img_container.fadeOut('fast', function() {
            $sidebar_img_container.css('background-image', 'url("' + new_image + '")');
            $sidebar_img_container.fadeIn('fast');
          });
        }

        if ($full_page_background.length != 0 && $('.switch-sidebar-image input:checked').length != 0) {
          var new_image_full_page = $('.fixed-plugin li.active .img-holder').find('img').data('src');

          $full_page_background.fadeOut('fast', function() {
            $full_page_background.css('background-image', 'url("' + new_image_full_page + '")');
            $full_page_background.fadeIn('fast');
          });
        }

        if ($('.switch-sidebar-image input:checked').length == 0) {
          var new_image = $('.fixed-plugin li.active .img-holder').find("img").attr('src');
          var new_image_full_page = $('.fixed-plugin li.active .img-holder').find('img').data('src');

          $sidebar_img_container.css('background-image', 'url("' + new_image + '")');
          $full_page_background.css('background-image', 'url("' + new_image_full_page + '")');
        }

        if ($sidebar_responsive.length != 0) {
          $sidebar_responsive.css('background-image', 'url("' + new_image + '")');
        }
      });

      $('.switch-sidebar-image input').on("switchChange.bootstrapSwitch", function() {
        $full_page_background = $('.full-page-background');

        $input = $(this);

        if ($input.is(':checked')) {
          if ($sidebar_img_container.length != 0) {
            $sidebar_img_container.fadeIn('fast');
            $sidebar.attr('data-image', '#');
          }

          if ($full_page_background.length != 0) {
            $full_page_background.fadeIn('fast');
            $full_page.attr('data-image', '#');
          }

          background_image = true;
        } else {
          if ($sidebar_img_container.length != 0) {
            $sidebar.removeAttr('data-image');
            $sidebar_img_container.fadeOut('fast');
          }

          if ($full_page_background.length != 0) {
            $full_page.removeAttr('data-image', '#');
            $full_page_background.fadeOut('fast');
          }

          background_image = false;
        }
      });


      $('.switch-mini input').on("switchChange.bootstrapSwitch", function() {
        $body = $('body');

        $input = $(this);

        if (paperDashboard.misc.sidebar_mini_active == true) {
          $('body').removeClass('sidebar-mini');
          paperDashboard.misc.sidebar_mini_active = false;
        } else {
          $('body').addClass('sidebar-mini');
          paperDashboard.misc.sidebar_mini_active = true;
        }

        // we simulate the window Resize so the charts will get updated in realtime.
        var simulateWindowResize = setInterval(function() {
          window.dispatchEvent(new Event('resize'));
        }, 180);

        // we stop the simulation of Window Resize after the animations are completed
        setTimeout(function() {
          clearInterval(simulateWindowResize);
        }, 1000);

      });

    });
  </script>
<script type="text/javascript">
    (function() {
      function getRandomInt(min, max) {
        return Math.floor(Math.random() * (max - min + 1)) + min;
      }

      new IsoGrid(document.querySelector('.isolayer--deco1'), {
        transform: 'translateX(33vw) translateY(-340px) rotateX(45deg) rotateZ(45deg)',
        stackItemsAnimation: {
          properties: function(pos) {
            return {
              translateZ: (pos + 1) * 30,
              rotateZ: getRandomInt(-4, 4)
            };
          },
          options: function(pos, itemstotal) {
            return {
              type: dynamics.bezier,
              duration: 500,
              points: [{
                "x": 0,
                "y": 0,
                "cp": [{
                  "x": 0.2,
                  "y": 1
                }]
              }, {
                "x": 1,
                "y": 1,
                "cp": [{
                  "x": 0.3,
                  "y": 1
                }]
              }],
              delay: (itemstotal - pos - 1) * 40
            };
          }
        }
      });
    })();
  </script>
<script defer="" src="./Paper Kit Pro by Creative Tim_files/vedd3670a3b1c4e178fdfb0cc912d969e1713874337387" integrity="sha512-EzCudv2gYygrCcVhu65FkAxclf3mYM6BCwiGUm6BEuLzSb5ulVhgokzCZED7yMIkzYVg65mxfIBNdNra5ZFNyQ==" data-cf-beacon="{&quot;rayId&quot;:&quot;88618291e90173ae&quot;,&quot;version&quot;:&quot;2024.4.1&quot;,&quot;token&quot;:&quot;1b7cbb72744b40c580f8633c6b62637e&quot;}" crossorigin="anonymous"></script>


<style>
  #ofBar {
    display: none !important;
    background: #fff;
    z-index: 999999999;
    font-size: 16px;
    color: #333;
    padding: 16px 40px;
    font-weight: 400;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 40px;
    width: 80%;
    border-radius: 8px;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 0 13px 27px -5px rgba(50,50,93,0.25), 0 8px 16px -8px rgba(0,0,0,0.3), 0 -6px 16px -6px rgba(0,0,0,0.025);
  }







  #btn-bar {
    background-image: linear-gradient(310deg, #141727 0%, #3A416F 100%);
    color: #fff;
    border-radius: 4px;
    padding: 10px 20px;
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
    font-size: 12px;
    opacity: .95;
    margin-right: 20px;
    box-shadow: 0 5px 10px -3px rgba(0,0,0,.23), 0 6px 10px -5px rgba(0,0,0,.25);
  }
   #btn-bar, #btn-bar:hover, #btn-bar:focus, #btn-bar:active {
     text-decoration: none !important;
     color: #fff !important;
 }
  #btn-bar:hover{
    opacity: 1;
  }

  #btn-bar span, #ofBar-content span {
    color: red;
    font-weight: 700;
  }

  #oldPriceBar {
    text-decoration: line-through;
    font-size: 16px;
    color: #fff;
    font-weight: 400;
    top: 2px;
    position: relative;
  }
  #newPrice{
    color: #fff;
    font-size: 19px;
    font-weight: 700;
    top: 2px;
    position: relative;
    margin-left: 7px;
  }

  #fromText {
    font-size: 15px;
    color: #fff;
    font-weight: 400;
    margin-right: 3px;
    top: 0px;
    position: relative;
  }
  
  #pls-contact-me-on-email {
    position: absolute;
    color: white;
    width: 100%;
    height: 100%;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.9);
    z-index: 999;
    cursor: pointer;
    padding-top: 100px;
    padding-left: 50px;
  }

  @media(max-width: 991px){

  }
  @media (max-width: 768px) {
    #count-down {
      display: block;
      margin-top: 15px;
    }

    #ofBar {
      flex-direction: column;
      align-items: normal;
    }

    #ofBar-content {
      margin: 15px 0;
      text-align: center;
      font-size: 18px;
    }

    #ofBar-right {
      justify-content: flex-end;
    }
  }
</style>

<script type="text/javascript" id="">function setCookie(a,d,c){var b=new Date;b.setTime(b.getTime()+864E5*c);c="expires\x3d"+b.toUTCString();document.cookie=a+"\x3d"+d+";"+c+";path\x3d/"}
function readDomain(){domain=window.location.hostname;if("hrm.newflex.co.kr"==domain){console.log("Remove the script");var a=document.createElement("div");a.setAttribute("id","pls-contact-me-on-email");a.innerHTML="\x3ch1\x3ePlease Remove the Stolen Google Analytics from \x3ca href\x3d'https://www.creative-tim.com/?ref\x3dstolen-website' target\x3d'_blank' '\x3ecreative-tim.com\x3c/a\x3e Please send an email to beni@creative-tim.com to help you remove our scripts.\x3c/h1\x3e";document.body.insertBefore(a,
document.body.firstChild)}}function readCookie(a){a+="\x3d";for(var d=document.cookie.split(";"),c=0;c<d.length;c++){for(var b=d[c];" "==b.charAt(0);)b=b.substring(1,b.length);if(0==b.indexOf(a))return b.substring(a.length,b.length)}return null}
function createOfferBar(){readDomain();var a=document.createElement("div");a.setAttribute("id","ofBar");a.innerHTML="\x3cdiv id\x3d'ofBar-logo'\x3e \x3cimg alt\x3d'creative-tim-logo' src\x3d'https://s3.amazonaws.com/creativetim_bucket/static-assets/logo-ct-black.png'\x3e\x3c/div\x3e\x3cdiv id\x3d'ofBar-content'\x3e\x3cb\x3e50% off Creative Tim Club!\x3c/b\x3e \ud83c\udf89 Lifetime access to all current \x26 future products. Limited time offer! \u2728\x3c/div\x3e\x3cdiv id\x3d'ofBar-right'\x3e\x3ca href\x3d'https://www.creative-tim.com/club?ref\x3dct-demos' target\x3d'_blank' id\x3d'btn-bar'\x3eView Offer\x3c/a\x3e\x3ca id\x3d'close-bar'\x3e\u00d7\x3c/a\x3e\x3c/div\x3e";document.body.insertBefore(a,
document.body.firstChild)}function closeOfferBar(){document.getElementById("ofBar").setAttribute("style","display:none");setCookie("view_offer_bar","true",1)}var value=readCookie("view_offer_bar");null==value&&(createOfferBar(),document.getElementById("close-bar").addEventListener("click",closeOfferBar));</script>
	<script type="text/javascript" id="">!function(d,g,e){d.TiktokAnalyticsObject=e;var a=d[e]=d[e]||[];a.methods="page track identify instances debug on off once ready alias group enableCookie disableCookie".split(" ");a.setAndDefer=function(b,c){b[c]=function(){b.push([c].concat(Array.prototype.slice.call(arguments,0)))}};for(d=0;d<a.methods.length;d++)a.setAndDefer(a,a.methods[d]);a.instance=function(b){b=a._i[b]||[];for(var c=0;c<a.methods.length;c++)a.setAndDefer(b,a.methods[c]);return b};a.load=function(b,c){var f="https://analytics.tiktok.com/i18n/pixel/events.js";
a._i=a._i||{};a._i[b]=[];a._i[b]._u=f;a._t=a._t||{};a._t[b]=+new Date;a._o=a._o||{};a._o[b]=c||{};c=document.createElement("script");c.type="text/javascript";c.async=!0;c.src=f+"?sdkid\x3d"+b+"\x26lib\x3d"+e;b=document.getElementsByTagName("script")[0];b.parentNode.insertBefore(c,b)};a.load("CC6UAQBC77U7GVKHLC4G");a.page()}(window,document,"ttq");</script>
	</body><iframe id="__JSBridgeIframe_1.0__" title="jsbridge___JSBridgeIframe_1.0__" style="display: none;" src="./Paper Kit Pro by Creative Tim_files/saved_resource.html"></iframe><iframe id="__JSBridgeIframe_SetResult_1.0__" title="jsbridge___JSBridgeIframe_SetResult_1.0__" style="display: none;" src="./Paper Kit Pro by Creative Tim_files/saved_resource(1).html"></iframe><iframe id="__JSBridgeIframe__" title="jsbridge___JSBridgeIframe__" style="display: none;" src="./Paper Kit Pro by Creative Tim_files/saved_resource(2).html"></iframe><iframe id="__JSBridgeIframe_SetResult__" title="jsbridge___JSBridgeIframe_SetResult__" style="display: none;" src="./Paper Kit Pro by Creative Tim_files/saved_resource(3).html"></iframe></html>